# API Framework
fastapi

# ASGI Server to run FastAPI
uvicorn[standard]
gevent

# Core AI and Agentic Workflow Libraries
langchain
langchain-cohere
langgraph

# Redis client for connecting to Upstash
redis

# For generating .docx files
python-docx

# For loading environment variables from .env file
python-dotenv